In [1]:
# variance inflation factor 
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
data=pd.read_csv("housing.csv",names=columns)
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [6]:
X=data.drop("MEDV",axis=1)
y=data["MEDV"]

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.2,random_state=42)

In [10]:
import statsmodels.api as sm
X_train=sm.add_constant(X_train)

In [11]:
model=sm.OLS(y_train,X_train).fit()

In [12]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   MEDV   R-squared:                       0.751
Model:                            OLS   Adj. R-squared:                  0.743
Method:                 Least Squares   F-statistic:                     90.43
Date:                Tue, 12 Dec 2023   Prob (F-statistic):          6.21e-109
Time:                        11:51:15   Log-Likelihood:                -1194.3
No. Observations:                 404   AIC:                             2417.
Df Residuals:                     390   BIC:                             2473.
Df Model:                          13
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         30.2468      5.677      5.328      0.000      19.086      41.408
CRIM          -0.1131      0.035     -3.250      0.001      -0.181      -0.045
ZN             0.0301      0.016      1.882      0.061      -0.001       0.062
INDUS          0.0404      0.067      0.599      0.549      -0.092       0.173
CHAS           2.7844      0.956      2.914      0.004       0.905       4.663
NOX          -17.2026      4.236     -4.061      0.000     -25.531      -8.874
RM             4.4388      0.464      9.567      0.000       3.527       5.351
AGE           -0.0063      0.015     -0.432      0.666      -0.035       0.022
DIS           -1.4479      0.226     -6.408      0.000      -1.892      -1.004
RAD            0.2624      0.076      3.454      0.001       0.113       0.412
TAX           -0.0106      0.004     -2.508      0.013      -0.019      -0.002
PTRATIO       -0.9155      0.144     -6.357      0.000      -1.199      -0.632
B              0.0124      0.003      4.166      0.000       0.007       0.018
LSTAT         -0.5086      0.056     -9.133      0.000      -0.618      -0.399
==============================================================================
Omnibus:                      133.052   Durbin-Watson:                   2.114
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              579.817
Skew:                           1.379   Prob(JB):                    1.24e-126
Kurtosis:                       8.181   Cond. No.                     1.49e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.49e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [13]:
# checking multicollinearity using variance inflation factor
features=data.columns

In [15]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif_data=pd.DataFrame()
vif_data["features"]=features
vif_data["VIF"] = [variance_inflation_factor(data.values, i) for i in range(data.shape[1])]

In [16]:
vif_data

   features         VIF
0      CRIM    2.131404
1        ZN    2.910004
2     INDUS   14.485874
3      CHAS    1.176266
4       NOX   74.004269
5        RM  136.101743
6       AGE   21.398863
7       DIS   15.430455
8       RAD   15.369980
9       TAX   61.939713
10  PTRATIO   87.227233
11        B   21.351015
12    LSTAT   12.615188
13     MEDV   24.503206

* The features have VIF than our threshold(mostly 10) we can remove